@charset "ISO-8859-1";

#headermenu {
	display: table;
}

#headermenu div {
	display:table-cell;
	padding-right: 20px;
}

a:link {
	color: cornFlowerBlue;
	test-decoration: none;
}

a:visited {
	color: indigo;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

a:active {
	color: red;
}

#headermenu a:link {
	font-size: larger;
}

.pageheading {
	color: darkblue;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
}

th {
	background: darkblue;
	color: cornsilk;
	fornt-size: larger;
}

table.form {
	border: 0;
	pading: 4px;
	width: 80%;
	margin: 0 auto;
}

button {
	padding: 6px;
	border-radius: 5px;
}

button[type=submit] {
	font-weight: bold;
}

button:hover {
	background-color: white;
	color: green;
}

input {
	border: 1px soli;
	border-radius: 4px;	
	border-color: green;
	height: 20px;
}

.message {
	font-style: italic;
	color: blue;
}

.error {
	color: red;
	font-style: italic;
	margin: 5px;
}

div.center {
	text-align: center;
}

div.book {
	display: inline-block;
	margin: 20px;
	text-align: center;
}

table.normal {
	border: 0;
}

#book-title {
	font-size: x-large;
	font-weight: bold;
}